.main{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
    

}

.box{
    border: 1px solid black;
    box-shadow: 1px 1px 5px 5px gray ;
    border-radius: 10px;
    width: 350px;
    height: fit-content;
    margin-left: 500px;
    margin-top: 150px;
    background-color: rgb(180, 120, 236);
}


#inp{
    border-radius: 10px;
    width: 220px;
    height: 22px;
    background-color: rgb(17, 16, 16);
    color: rgb(241, 230, 230);
    font-size: large;
    
}

#btn{
    border-radius: 10px;
    background-color: rgb(80, 76, 76);
    color: white;
}

#btn1{
    border-radius: 10px;
    background-color: rgba(218, 13, 218, 0.856);
    color: rgb(231, 229, 229);
    
}

.h1{
    text-align: center;

    padding: 25PX;
    
}


.btn{
    background-attachment: fixed;
   margin-left: 100px;
   background-color: rgb(12, 12, 12);
   color: white;
   border-radius: 10px;

}



.btn1{
    background-attachment: fixed;
   margin-left: 10px;
   background-color: rgb(12, 12, 12);
   color: white;
   border-radius: 10px;

}

.li{
    display: flex;
}

